.test {
background-color: black;
}

div {
  color:white;
  font-family: Poiret+one;
}
input[type="text"], textarea{
  background-color:#72BDA3;

}

input[type="select"], area{
  background-color:#72BDA3;

}




#eP{
  color:#72BDA3;
  font-family: Poiret+one;
}

#save-btn{
  background-color: #72BDA3;
  height:5em;
  width: 10em;
  font-family: Poiret+one;
  border-radius: 3px;
}

.note{
  color:white;
  font-family: Poiret+one;
}

#user_nav:hover{
  color: blue;
}
