
<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>


<h1 id="newP">New Pet</h1>

<%= render 'login' %>

<%= render 'form' %>

<%= link_to 'Pets Listing', pets_path %> |
<%= link_to 'Admin Panel', admin_path %>
