<style> body {background-color: lightblue;}</style>

<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>


<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <%= render 'login' %>

    <h1>Admin Control Panel</h1>
    <div class="row">

    <a href="/pets/new"><button type="button" class="admin-btn">Add a Pet</button></a>

    <a href="/pets"><button type="button" class="admin-btn">Pet Listing</button></a>
  </div>
  <div class="row">
    <a href="/application_forms"><button type="button" class="admin-btn">Applications</button></a>
    <a href="/"><button type="button" class="admin-btn">Main Page</button></a>
  </div>
  </div>
  <div class="col-md-4">
  </div>
</div>
